<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Symfony App" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" pattern="" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="config" />
                    <add segment="src" />
                    <add segment="var" />
                    <add segment="vendor" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>